---
import Layout from '../layouts/Layout.astro';
const title = "Page not found 404";
const description = "Page not found ERROR HTTP 404";
---

<Layout
	title={title}
	description={description}
	img=''
	action=''
>

	<h1 class='uk-padding'>{description}</h1>

</Layout>