---
import Layout from '../layouts/Layout.astro';
import PriceCard from '../components/PriceCard.astro';

// page options ( see layouts/Layout.astro )
const title = 'Price';
const description = 'Our Product is the easiest way for teams to track their works progress. Our advance plans give you more tools to get the job done.';
const img = 'https://picsum.photos/1200/900/?image=826';
const action = '';
---

<Layout
	title={title}
	description={description}
	img={img}
	action={action}
>

<!--AUTHOR-->
<section  class="uk-section uk-section-muted uk-padding-remove-bottom">
	<div class="uk-container uk-container-small">
		<div class="uk-grid uk-grid-small uk-child-width-1-3@m uk-margin-medium-top uk-grid-match" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div > .uk-card; delay: 200" uk-grid>

			<PriceCard
				title="PERSONAL"
				price="9.99"
				planTitle="Per member billed annually"
				planItems={['2 users included', '1 GB of storage', 'A beer jar']}
				linkUrl="'#"
			/>
			<PriceCard
				title="PROFESSIONAL"
				price="89.99"
				planTitle="Per member billed annually"
				planItems={['10 users included', '5 GB of storage', 'Email support', 'A beer jar with beer inside!']}
				linkUrl="#"
			/>
			<PriceCard
				title="CORPORATE"
				price="299"
				planTitle="Per member billed annually"
				planItems={['Unlimited users', 'Unlimited storage', 'Email support', 'Help center access']}
				linkUrl="#"
			/>

		</div>
		<div class="uk-text-center uk-text-small uk-text-muted uk-section uk-section-small">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<a href="#more" title="More about Plans" uk-icon="arrow-down" uk-scroll="duration: 400" class="uk-button uk-button-secondary uk-margin-medium-top uk-button-large">MORE ABOUT PLANS</a>
		</div>
	</div>
</section>
<section id="more" class="uk-section uk-section-default">
	<div class="uk-container">
		<h3 class="uk-text-bold">More Features</h3>
		<div class="uk-overflow-auto">
			<table class="uk-table uk-table-middle uk-table-divider uk-table-large uk-table-justify" uk-scrollspy="cls:uk-animation-fade;">
				<thead>
					<tr>
						<th>Features</th>
						<th>Personal</th>
						<th class="uk-background-muted">Professional</th>
						<th>Corporate</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="uk-width-2-5">Incididunt ut labore</td>
						<td class="uk-width-1-5"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
						<td class="uk-width-1-5 uk-background-muted"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
						<td class="uk-width-1-5"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
					</tr>
					<tr>
						<td class="uk-width-2-5">Incididunt ut labore</td>
						<td class="uk-width-1-5"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5 uk-background-muted"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
						<td class="uk-width-1-5"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
					</tr>
					<tr>
						<td class="uk-width-2-5">Labore et dolore magna aliqua</td>
						<td class="uk-width-1-5"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5 uk-background-muted"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
					</tr>
					<tr>
						<td class="uk-width-2-5">Consectetur adipisicing elit, sed do eiusmod incididunt</td>
						<td class="uk-width-1-5"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5 uk-background-muted"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
					</tr>
					<tr>
						<td class="uk-width-2-5">Labore et dolore magna aliqua</td>
						<td class="uk-width-1-5"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5 uk-background-muted"><span class="uk-text-danger" uk-icon="icon:close; ratio:2.5"></span></td>
						<td class="uk-width-1-5"><span class="uk-text-success" uk-icon="icon:check; ratio:2.5"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</Layout>

<style>
	.uk-container-small {
		max-width: 1020px;
	}
</style>