<section id="section-about" class="section-about uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-section uk-section-small uk-padding-remove-top">
            <ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade">
                <li><a class="uk-border-pill" href="#">Discover</a></li>
                <li><a class="uk-border-pill" href="#">Benefits</a></li>
                <li><a class="uk-border-pill" href="#">Features</a></li>
            </ul>
        </div>

        <ul class="uk-switcher uk-margin">
            
            <li>
                <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
                    <div>
                        <img src="https://picsum.photos/400/350/?random=6" data-src="https://picsum.photos/400/350/?random=6" alt="" data-uk-img>
                    </div>
                    <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
                        <h6 class="uk-text-primary">MAIN REASONS</h6>
                        <h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
                        <p class="subtitle-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                        <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
                            <div>
                                <h4>Great stuff</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                            <div>
                                <h4>Data analysis</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
                    <div>
                        <img src="https://picsum.photos/400/350/?random=6" data-src="https://picsum.photos/400/350/?random=7" alt="" data-uk-img>
                    </div>
                    <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
                        <h6 class="uk-text-primary">MAIN REASONS</h6>
                        <h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
                        <p class="subtitle-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                        <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
                            <div>
                                <h4>Great stuff</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                            <div>
                                <h4>Data analysis</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="uk-grid uk-child-width-1-2@l uk-flex-middle" data-uk-grid data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium">
                    <div>
                        <img src="https://picsum.photos/400/350/?random=8" data-src="https://picsum.photos/400/350/?random=8" alt="" data-uk-img>
                    </div>
                    <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
                        <h6 class="uk-text-primary">MAIN REASONS</h6>
                        <h2 class="uk-margin-small-top">Take decisions with real time data based on users interaction.</h2>
                        <p class="subtitle-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                        <div class="uk-grid uk-child-width-1-2@s" data-uk-grid>
                            <div>
                                <h4>Great stuff</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                            <div>
                                <h4>Data analysis</h4>
                                <p>Ut enim ad minim veniam, quis nostrud magna aliqua exercitation. <a href="">Learn more.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>