<!-- SECTION ANALYTICS -->
<section class="section-analytics uk-section uk-section-default">

    <div class="uk-container uk-container-xsmall uk-text-center uk-section uk-padding-remove-top">
        <h5 class="uk-text-primary">ANALYTICS</h5>
        <h2 class="uk-margin-remove uk-h1">Know the behavior of your potential customers.</h2>
    </div>
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m" uk-grid uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
                <img data-src="https://picsum.photos/400/350/?random=11" uk-img alt="Image">
                <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Lorem ipsum dolor sit amet</h4>
                <p>24/7 support. We’re always here for you no matter what time of day.</p>
            </div>
            <div class="uk-text-center">
                <img data-src="https://picsum.photos/400/350/?random=12" uk-img alt="Image">
                <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Lorem ipsum dolor sit amet</h4>
                <p>24/7 support. We’re always here for you no matter what time of day.</p>
            </div>
            <div class="uk-text-center">
                <img data-src="https://picsum.photos/400/350/?random=13" uk-img alt="Image">
                <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Lorem ipsum dolor sit amet</h4>
                <p>24/7 support. We’re always here for you no matter what time of day.</p>
            </div>
            <div class="uk-text-center">
                <img data-src="https://picsum.photos/400/350/?random=14" uk-img alt="Image">
                <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Lorem ipsum dolor sit amet</h4>
                <p>24/7 support. We’re always here for you no matter what time of day.</p>
            </div>
            <div class="uk-text-center">
                <img data-src="https://picsum.photos/400/350/?random=15" uk-img alt="Image">
                <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Lorem ipsum dolor sit amet</h4>
                <p>24/7 support. We’re always here for you no matter what time of day.</p>
            </div>
            <div class="uk-text-center">
                <img data-src="https://picsum.photos/400/350/?random=16" uk-img alt="Image">
                <h4 class="uk-margin-small-bottom uk-margin-top uk-margin-remove-adjacent">Lorem ipsum dolor sit amet</h4>
                <p>24/7 support. We’re always here for you no matter what time of day.</p>
            </div>

        </div>
    </div>
</section>