<!-- SECTION SIMPLIFY -->
<section class="uk-section uk-section-secondary uk-section-large">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@l uk-flex-middle">
            <div class="uk-margin">
                <h6>SIMPLIFY THINGS</h6>
                <h2 class="uk-margin-small-top uk-h1">Manage all your data from one place only.</h2>
                <p class="subtitle-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="#" class="uk-button uk-button-primary uk-border-pill" uk-icon="arrow-right">LEARN MORE</a>
            </div>
            <div class='uk-flex uk-flex-center' uk-scrollspy="cls: uk-animation-fade">
                <img data-src="https://picsum.photos/400/350/?random=9" uk-img alt="Image">
            </div>
        </div>
    </div>
</section>