<!-- SECTION TESTIMONIALS -->
<section class="uk-cover-container overlay-wrap">
    <img data-src="https://picsum.photos/640/420/?random=10" alt="" uk-cover uk-img>
    <div class="uk-container uk-position-z-index uk-position-relative uk-section uk-section-xlarge uk-light">
        <div class="uk-grid uk-flex-right">

            <div class="uk-width-2-5@m" uk-parallax="y: 50,-50; easing: 0; media:@l">
                <h6>TESTIMONIALS</h6>
                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="easing: cubic-bezier(.16,.75,.47,1)">
                    <ul class="uk-slider-items uk-child-width-1-1">
                        <li>
                            <div uk-slider-parallax="opacity: 0.2,1,0.2">
                                <h2 class="uk-margin-small-top">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
                                <p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
                            </div>
                        </li>
                        <li>
                            <div uk-slider-parallax="opacity: 0.2,1,0.2">
                                <h2 class="uk-margin-small-top">"Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
                                <p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
                            </div>
                        </li>
                        <li>
                            <div uk-slider-parallax="opacity: 0.2,1,0.2">
                                <h2 class="uk-margin-small-top">"Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur"</h2>
                                <p class="uk-text-meta">Lorena Smith, founder of Some Cool Startup</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="uk-slider-nav uk-dotnav uk-margin-top"><li></li></ul>

                </div>
            </div>

        </div>
    </div>
</section>